.saved-response {
  background: rgba(248, 249, 250, 1);
  border: 1px solid rgba(222, 226, 230, 0.006);
  box-shadow:
    0px 2px 8px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.04);
  font-family: Poppins;
  color: rgba(108, 117, 125, 1);
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 5px;
  margin-right: 10px;
}

.saved-response:hover {
  box-shadow: none;
}

#savedResponsesList {
  display: flex;
  gap: 5px !important;
  flex-grow: 1;
  overflow-y: auto;
  margin: 0 -19px;
  padding: 0px 25px 25px 19px;
  padding-right: 4px;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1px;
  margin-right: -4px;
  gap: 7px;
  /* visibility: hidden;  */
  opacity: 0;
}

.button-container.loading::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin-left: 8px;
}

.left-history-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#popup-heading {
  color: rgba(73, 80, 87, 1);
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.saved-response textarea {
  width: 100%;
  overflow: hidden;
  resize: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
}

textarea.no-min-height {
  min-height: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.del-history-text {
  color: #e35071;
  font-size: 16px;
  cursor: pointer;
}

.del-history-text:hover {
  color: rgba(213, 37, 75, 1);
}

.delete-all-history {
  padding-top: 16px;
  display: flex !important;
  justify-content: flex-start;
  gap: 10px;
  color: rgba(226, 70, 104, 1);
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.grammar-history-close {
  margin-top: -32px;
  margin-right: -3px;
  cursor: pointer;
  /* color: rgba(108, 117, 125, 1); */
  /* position: absolute; */
  /* top: 0.43px; */
  /* left: 5.42px; */
  /* opacity: 1; */
}

.grammar-history-close:hover {
  background: linear-gradient(138.61deg, #ffffff 12.36%, #f1f3f4 94.3%);
  border: 1px solid rgba(228, 228, 228, 1);
  box-shadow:
    0px 1px 1px 0px rgba(255, 255, 255, 0.9) inset,
    0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.popup-content {
  background-color: rgba(255, 255, 255, 1);
  padding: 25px 30px 25px 30px;
  border: 1px solid #888;
  width: 60%;
  height: 80%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 1;
}

/*----------------------Mark Down------------------------*/

.markdown-body {
  font-family: 'Poppins';
  background-color: rgba(248, 249, 250, 1) !important;
  color: rgba(108, 117, 125, 1) !important;
  font-size: 16px !important;
}

/* Force empty elements to minimum height */
#inputText.is-empty {
  height: auto !important;
}

.markdown-body table {
  width: 100% !important;
}

#inputText .markdown-body table tr {
  background-color: white !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  border-bottom: none !important;
}


.copy-btn1 {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btns {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-btn1:hover,
.delete-btns:hover {
  background: linear-gradient(138.61deg, #ffffff 12.36%, #f1f3f4 94.3%);
  /* border: 1px solid rgba(228, 228, 228, 1); */
  box-shadow:
    0px 1px 1px 0px rgba(255, 255, 255, 0.9) inset,
    0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* padding: 3px !important; */
}

.copy-btn1,
.delete-btns {
  padding: 4px !important;
}

.saved-response:hover .button-container {
  visibility: visible !important;
  opacity: 1 !important;
}
